/**
the .ios, .md allows the styling to affect bot ios and android
https://www.youtube.com/watch?v=sXFmkdhOEVc
**/
.ios, .md{
    page-home {
        h2 {
            color: #FF8C00;
            text-align: center;
            
        }
        h3 {
            color: #FF8C00;
        }

        ion-card {
            height: 100px;
            
           // background-color: map-get($colors, dark);
        }

        ion-col {
            padding: 0px;
           // margin: 0px;
        }
    }
}


