page-home {
    h2 {
        color: #FF8C00;
    }
      h3 {
        color: #FF8C00;
    }

/*

     scroll-content {
        display: flex;
        flex-direction: column;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
    }
*/
}
